
  .resultbox {
    height: 50px;
    width: 300px;
    background-color: #E0E0E0;
    padding-left: 4px;
    padding-top: 4px;
  }

  .image {
    float: left;
  }

  .userBox {
    height: 50px;
    width: 150px;
    float: left;
    text-align: left;
    font-weight: bold;
  }

  .messagebox {
    font-weight: lighter;
    font-size: small;
  }

  .space {
    float: left;
    height: 90px;
    width: 10px;
  }
